.leftbar-div {
  display: flex;
  flex-direction: column;
  width: 228px;
  border-right: solid 1px #3e4142;
  padding-left: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 1200px) {
  .leftbar-div {
    display: none;
  }
}

.sections-div {
  border-bottom: solid 1px #3e4142;
  margin-right: 20px;
  padding-bottom: 10px;
}

.section-div {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftbar-icon-img {
  width: 30px;
}
