.navbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  border-bottom: solid 1px #3e4142;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 0px;
  width: 33vw;
}

.logo-image {
  width: 35px;
}

.logo-text {
  width:100px;
}

.search-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33vw;
}

.search-button-img {
  width: 20px;
  justify-content: center;
  align-items: center;
}

.search-button {
  border: none;
  background-color: #333d42;
  height: 37px;
  padding-left: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.search-bar-input {
  width: 500px;
  height: 35px;
  border: none;
  background-color: #333d42;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  color: white;
}

.symbols-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 33vw;
}

.symbol-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.symbol-button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #0e1113;
  border-radius: 50%;
  border: none;
}

.symbol-button:hover {
  background-color: #333d42;
}

.symbol-img {
  width: 40px;
}

.message-create-symbol-img {
  width: 30px;
}

.symbol-button-create {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #0e1113;
  border-radius: 20px;
  border: none;
}

.symbol-button-create:hover {
  background-color: #333d42;
}

.create-p {
  color: white;
  padding-left: 5px;
}
