.navbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  border-bottom: solid 1px #3e4142;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-top: 0px;
  width: 33vw;
  background-color: rgb(193, 123, 19);
}

.search-button-img {
  width: 20px;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 35px;
}

.logo-text {
  width:100px;
}

.search-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33vw;
  background-color: rgb(81, 71, 146);
}

.search-button {
  border: none;
  background-color: #333d42;
  height: 37px;
  padding-left: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.search-bar-input {
  width: 500px;
  height: 35px;
  border: none;
  background-color: #333d42;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  color: white;
}
